name: CI

on:
  pull_request:
    branches: ['**']
  push:
    branches: [main]

jobs:
  test:
    name: 'Test (${{ matrix.node-version }})'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['12.22', '14.x', '16.x']
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
        name: Checkout

      - uses: actions/setup-node@v2
        name: Use Node.js ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - run: yarn --frozen-lockfile

      - run: yarn run lint

      - run: yarn run test --coverage
